# https://editorconfig.org
# [:h editorconfig]

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
indent_size = tab
indent_style = tab
tab_width = 2

# https://github.com/CppCXY/EmmyLuaCodeStyle/blob/-/docs/format_config_EN.md
call_arg_parentheses = always
quote_style = single
trailing_table_separator = smart
